<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>location</key>
	<array>
		<dict>
			<key>id</key>
			<integer>110000</integer>
			<key>item</key>
			<array>
				<dict>
					<key>id</key>
					<integer>110101</integer>
					<key>name</key>
					<string>东城区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110102</integer>
					<key>name</key>
					<string>西城区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110105</integer>
					<key>name</key>
					<string>朝阳区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110106</integer>
					<key>name</key>
					<string>丰台区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110107</integer>
					<key>name</key>
					<string>石景山区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110108</integer>
					<key>name</key>
					<string>海淀区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110109</integer>
					<key>name</key>
					<string>门头沟区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110111</integer>
					<key>name</key>
					<string>房山区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110112</integer>
					<key>name</key>
					<string>通州区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110113</integer>
					<key>name</key>
					<string>顺义区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110114</integer>
					<key>name</key>
					<string>昌平区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110115</integer>
					<key>name</key>
					<string>大兴区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110116</integer>
					<key>name</key>
					<string>怀柔区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110117</integer>
					<key>name</key>
					<string>平谷区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110228</integer>
					<key>name</key>
					<string>密云区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>110229</integer>
					<key>name</key>
					<string>延庆区</string>
				</dict>
			</array>
			<key>name</key>
			<string>北京市</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>120000</integer>
			<key>item</key>
			<array>
				<dict>
					<key>id</key>
					<integer>120101</integer>
					<key>name</key>
					<string>和平区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120102</integer>
					<key>name</key>
					<string>河东区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120103</integer>
					<key>name</key>
					<string>河西区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120104</integer>
					<key>name</key>
					<string>南开区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120105</integer>
					<key>name</key>
					<string>河北区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120106</integer>
					<key>name</key>
					<string>红桥区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120110</integer>
					<key>name</key>
					<string>东丽区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120111</integer>
					<key>name</key>
					<string>西青区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120112</integer>
					<key>name</key>
					<string>津南区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120113</integer>
					<key>name</key>
					<string>北辰区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120114</integer>
					<key>name</key>
					<string>武清区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120115</integer>
					<key>name</key>
					<string>宝坻区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120116</integer>
					<key>name</key>
					<string>滨海新区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120221</integer>
					<key>name</key>
					<string>宁河县</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120223</integer>
					<key>name</key>
					<string>静海县</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>120225</integer>
					<key>name</key>
					<string>蓟县</string>
				</dict>
			</array>
			<key>name</key>
			<string>天津市</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>130000</integer>
			<key>item</key>
			<array>
				<dict>
					<key>id</key>
					<integer>130100</integer>
					<key>name</key>
					<string>石家庄市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>130200</integer>
					<key>name</key>
					<string>唐山市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>130300</integer>
					<key>name</key>
					<string>秦皇岛市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>130400</integer>
					<key>name</key>
					<string>邯郸市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>130500</integer>
					<key>name</key>
					<string>邢台市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>130600</integer>
					<key>name</key>
					<string>保定市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>130700</integer>
					<key>name</key>
					<string>张家口市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>130800</integer>
					<key>name</key>
					<string>承德市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>130900</integer>
					<key>name</key>
					<string>沧州市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>131000</integer>
					<key>name</key>
					<string>廊坊市</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>131100</integer>
					<key>name</key>
					<string>衡水市</string>
				</dict>
			</array>
			<key>name</key>
			<string>河北省</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>310000</integer>
			<key>item</key>
			<array>
				<dict>
					<key>id</key>
					<integer>310101</integer>
					<key>name</key>
					<string>黄浦区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310104</integer>
					<key>name</key>
					<string>徐汇区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310105</integer>
					<key>name</key>
					<string>长宁区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310106</integer>
					<key>name</key>
					<string>静安区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310107</integer>
					<key>name</key>
					<string>普陀区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310108</integer>
					<key>name</key>
					<string>闸北区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310109</integer>
					<key>name</key>
					<string>虹口区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310110</integer>
					<key>name</key>
					<string>杨浦区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310112</integer>
					<key>name</key>
					<string>闵行区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310113</integer>
					<key>name</key>
					<string>宝山区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310114</integer>
					<key>name</key>
					<string>嘉定区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310115</integer>
					<key>name</key>
					<string>浦东新区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310116</integer>
					<key>name</key>
					<string>金山区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310117</integer>
					<key>name</key>
					<string>松江区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310118</integer>
					<key>name</key>
					<string>青浦区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310120</integer>
					<key>name</key>
					<string>奉贤区</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>310230</integer>
					<key>name</key>
					<string>崇明县</string>
				</dict>
			</array>
			<key>name</key>
			<string>上海市</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>440000</integer>
			<key>item</key>
			<array>
				<dict>
					<key>id</key>
					<integer>440100</integer>
					<key>name</key>
					<string>广州市</string>
				</dict>
			</array>
			<key>name</key>
			<string>广东省</string>
		</dict>
	</array>
</dict>
</plist>
